html{
	font-family: 'Roboto', sans-serif;
}

header,h1,nav,article,aside{
	padding:0;
	margin:0;
	border:1px solid black;
}

a {
	color:whitesmoke
}

header{
    color: whitesmoke;
    width: 100%;
    background-color: rgb(47, 152, 238);
    display: flex;
    justify-content: space-between;
}

main{
	display: flex;	
}

aside{
	flex-basis: 25%;
}

article{
	flex-basis: 75%;
}

@media (max-width: 600px){
	main{
		flex-direction:column;
	}
	article{
		flex-basis=100%;
	}
	
	aside{
		flex-basis=100%;
	}
}